/aopalliance-repackaged-2.5.0-b32.jar
/hk2-api-2.5.0-b32.jar
/hk2-locator-2.5.0-b32.jar
/hk2-utils-2.5.0-b32.jar
/jackson-annotations-2.8.6.jar
/jackson-core-2.8.6.jar
/jackson-core-asl-1.9.13.jar
/jackson-databind-2.8.6.jar
/jackson-jaxrs-1.9.13.jar
/jackson-jaxrs-base-2.8.6.jar
/jackson-jaxrs-json-provider-2.8.6.jar
/jackson-mapper-asl-1.9.13.jar
/jackson-module-jaxb-annotations-2.8.6.jar
/jackson-xc-1.9.13.jar
/javassist-3.20.0-GA.jar
/javax.annotation-api-1.2.jar
/javax.inject-2.5.0-b32.jar
/javax.servlet-api-3.0.1.jar
/javax.ws.rs-api-2.0.1.jar
/jaxb-api-2.2.7.jar
/jersey-client.jar
/jersey-common.jar
/jersey-container-servlet-core.jar
/jersey-container-servlet.jar
/jersey-guava-2.25.1.jar
/jersey-media-jaxb.jar
/jersey-server.jar
/org.osgi.core-4.2.0.jar
/osgi-resource-locator-1.0.1.jar
/persistence-api-1.0.jar
/validation-api-1.1.0.Final.jar
